[2019-02-26 23:38] venkatachalapathy opened #20 "Generating inter agent interactions"
Building off of #1, we need to develop inter agent interactions once we @WheezePuppet  and @venkatachalapathy resolve the ongoing issues about what we mean by coordination.

#3 is relevant when we start thinking about this.

[2019-02-27 20:26] venkatachalapathy opened #19 "Consistency with Julia implementation of SriMil"
Since Srikanth is working on a `julia` version of SriMil, getting our code working seamlessly with the Srikanth's version might be desirable.

[2019-02-28 14:41] divilian commented on #20
Agreed. In the current Stejesh model, "inter agent interactions" are limited to:
1. Once per iteration, two random agents are chosen (with probability ~p, these are neighbors in the graph)
2. If these random nodes each have wealth above the threshold, form a "proto" (proto-institution) with those two agents.

...and that's it.

[2019-02-28 14:41] divilian commented on #19
Agreed, and Sri and I have been working towards this in principle, at least partially by both choosing Julia as the implementation language.

[2019-03-01 08:02] venkatachalapathy opened #18 "First experiments: analyzing statistical differences under differing network characteristics"
As I see it, there are two important distributions in the original SriMil model

+ wealth distribution
+ proto-institution distribution (no of proto-institutions of a given size)

__Expectation:__ Wealth distribution and proto-institution histogram should vary as we vary the network characteristic.

For example, ER model with $N$ vertices depend on the a parameter $\lambda$, the Poisson parameter

[2019-03-05 15:08] divilian commented on #18
I'm mostly with you. My thoughts:
* Testing the effect of different random network generation algorithms (ER, Barabasi, Watts-Strogatz, etc.) for the initial graph is mildly interesting to me. It is mildly interesting to me mostly because I love graph theory and I like playing with different kinds of graphs. However, this line of inquiry doesn't seem super-related to our main topic unless it turns

[2019-03-05 16:31] venkatachalapathy commented on #18
Since we expect, within family and between family variations in the size of established proto-institutions and resulting wealth distributions,  I would like to have plots that show how, for example, as the Poission parameter of a ER graph varies, the distributions of interest change.

Isn't this going to answer the question of how social network changes influences inequality?

[2019-03-06 02:21] venkatachalapathy opened #17 "Katz's discussion of social network structure in Hamilton"
In an earlier email thread, I identified chapter 2 as an important place where to extract insights for social network models. Another cursory look took me to chapter 4 where he discusses the entrepreneurial class.

My hunch is that this suggests community structure _should_ has an important role to play in the class of social network models to be used for simulation.

So, I should probably give *t

[2019-03-06 06:27] venkatachalapathy opened #23 "Necessary julia libraries for implementation"
Looks like Srikanth has not joined this repo yet. When he does, this is a question for him.

+ What are the libraries in julia that are going to be useful for this project fork?

@srikanthmudigonda and @WheezePuppet , this one's for you.

[2019-03-06 15:45] divilian commented on #17
To be clear -- which book are you talking about?

[2019-03-06 15:58] divilian commented on #18
Okay, I see what you mean. Yeah, I guess that does partially get at an important question.

One comment I'll make is that I'm generally more interested in **dynamic graphs** -- _i.e_., social networks which evolve as the simulation proceeds, by forming and breaking links -- than in how the _initial_ graph is formed. Currently, our graph is static (with one exception: when two unconnected nodes mee

[2019-03-06 16:46] venkatachalapathy commented on #17
This one

http://www.hup.harvard.edu/catalog.php?isbn=9780674494213

If you remember, we even have a chapter uploaded on zotero.

[2019-03-06 16:51] venkatachalapathy commented on #18
Ah, I see. I see the system differently than you. We need to arrive at a common understanding of the model.

I'll read your slides and your before I can say further. I've been playing with julia myself. So, it will be a good exercise.

[2019-03-06 17:25] venkatachalapathy opened #22 "invite other to the repo"
@IngenuityArts , we need to invite Olufemi and Jeffrey to the repo.

[2019-03-06 18:29] divilian commented on #17
Thanks for clarifying, and yes I've read chapter 2. If you upload chapter 4 to Zotero, I'll read that one as well.

[2019-03-06 18:35] divilian commented on #18
Wanna Zoom?

[2019-03-06 19:18] IngenuityArts commented on #17
The other book that is very important in this regard is Carmen Nielson's book "Private Women and the Public Good: Charity and State Formation in Hamilton 1846-1893" which had a couple of selections sent earlier in an email thread (I had to hunt a bit to find it so may also have been forgotten by others). I have re-attached the two pages here. They are a good supplement to Katz chapters noted.
![ni

[2019-03-06 19:37] IngenuityArts commented on #17
This paper "Patterns and Determinants of Wealth Inequality in Late-Nineteenth-Century Ontario: Evidence from Census-Linked Probate Data" may also be of interest. I have added it to my list in Zotero as well.
[Patterns and Determinants of Wealth Inequality in Late-Nineteenth-Century Ontario_Di Matteo_2001.pdf](https://github.com/WheezePuppet/specnet/files/2937981/Patterns.and.Determinants.of.Wealth

[2019-03-06 19:50] venkatachalapathy commented on #18
Unfortunately, I use my kid's tablet to zoom and the tablet is safe at home. We could do an old fashioned phone call today.

[2019-03-07 01:03] venkatachalapathy commented on #18
OK. I read through your code and the slides. Some thoughts

+ Your random connection to non-neighbors provide a dynamics that is one step removed from my vanilla model
+ I see this as a next step

In my vanilla model
+ $o$ is $0$.
+ Network formation takes place before the wealth accumulation activity begins
+ This network formation uses some sociological theory to assign relations between the act

[2019-03-07 01:37] divilian commented on #17
Re-reading the Nielson pages, I was struck by the fact that the influential cohort "allied against" non-WASPs. Simulation-wise, that seems like it would correspond to each agent having an exogenous attribute (representing race/religion/anything) which partially determined whether or not one agent would be likely to form a proto-inst with another.

For another day.

[2019-03-07 01:43] divilian commented on #18
Okay, agreed that setting $o$ to 0 is a limiting case, and we can analyze that in isolation first.

If I understand it, I believe your second bullet is also true of the current Julia model (with the aforementioned exception when $o$>0).

When you say "assign relations between the actors" do you merely mean "decide who has a connection to whom" or do you mean "there are different types and/or stren

[2019-03-07 02:16] venkatachalapathy commented on #18
Yes, I think so.

Yes, whether the actors have connections, for now. Eventually extendable to labeling actors and other things.

[2019-03-07 15:08] divilian commented on #18
Okay, cool. I'm excited to hear about the sociological theory that will inform the model about which agents should be initially connected to whom.

[2019-03-08 02:43] srikanthmudigonda commented on #23
Still figuring my way around the Julia ecosystem. I'll re-respond once I have a better handle on it. For now, I will say https://julialang.org/downloads/plotting.html and possibly https://github.com/JuliaEconometrics/UEM.jl for panel data regression. If this doesn't pan out, I'll just switch to R for the data analysis, and if it makes sense, even do the plotting in R via ggplot2.

[2019-03-08 14:34] divilian commented on #23
I recommend [Gadfly](http://gadflyjl.org/stable/) for the Julia plotting, which is based on ggplot2. It's been great so far!

[2019-03-08 17:28] venkatachalapathy commented on #23
Yes, Gadfly looks really nice.

Some of the hypothesis tests I want to run for this SPECscape and  SPECnet (see [this related issue](https://github.com/WheezePuppet/specnet/issues/4)) are not available in Juliastats ecosystem. We might have to rely on R packages. Others, like [this one](http://juliastats.github.io/HypothesisTests.jl/latest/nonparametric/) are available.

Eventually, I might want t

[2019-03-11 14:44] divilian opened #15 "Implement proto resource pooling (insurance)"
### Proto resource pooling (insurance)
* Each iteration that its personal wealth is over threshold X, an agent contributes a fixed amount to the proto's account.
* Each iteration that its personal wealth is below threshold Y (<X), an agent withdraws enough from the proto's account to reach Y. (If proto becomes exhausted, take whatever's there and leave account balance at 0.)
* If a proto's account

[2019-03-11 14:48] divilian opened #14 "Implement other random network generation algorithms"
Implement a range of [random graph generation models](https://github.com/WheezePuppet/specnet/wiki/Network) in addition to plain-ol' Erdos-Renyi.

[2019-03-11 14:50] divilian opened #16 "Make some agents non-proto-able"
Add boolean exogenous attribute of agents that enables some to join protos and others not to. Assign these randomly with a Bernoulli parameter.

[2019-03-11 14:52] divilian opened #13 "Create histogram of agent wealth at end of simulation"
Create histogram of agent wealth at end of simulation.

[2019-03-11 14:53] divilian opened #12 "Create plot of graph assortativity by wealth attribute"
Create plot of graph assortativity by wealth attribute. (Btw, @venkatachalapathy, are you familiar with the graph metric called "assortativity?")

[2019-03-11 14:55] divilian opened #11 "Enable parameter sweep by ER λ param"
Enable parameter sweep by Erdos-Renyi λ parameter, with resulting plots.

[2019-03-12 01:01] venkatachalapathy commented on #15
Should we reassign this to [SPECscape](https://github.com/IngenuityArts/specscape)?

[2019-03-12 01:06] venkatachalapathy commented on #14
As discussed today, we will stick to

+ ER
+ SF
+ SW

for what I called phase 1

[2019-03-12 01:08] venkatachalapathy commented on #16
Good idea. I consider this not phase 1.

[2019-03-12 01:08] venkatachalapathy commented on #13
As we discussed today, we need to justify what it means to *end* the simulation.

[2019-03-12 01:13] venkatachalapathy commented on #12
We just discussed this today! Good idea.

[2019-03-12 01:16] venkatachalapathy commented on #11
In my to-do list, I have blank graph/plot templates to create so that we can start imagining our manuscript in terms of these kinds of plot. I agree with this approach.

[2019-03-13 17:18] divilian commented on #16
Agreed.

[2019-03-13 17:32] divilian commented on #13
Yeah, good pt. Let's bring the others (@IngenuityArts, @srikanthmudigonda, @jeffg828) in to this.

My paradigm in ABM has typically been "run the simulation for a fixed number of iterations, then end it and take stock of its state at that point." As I understand it, this is what the SriMil model did. Rajesh brought up a good point in a Zoom session yesterday, though: this seems pretty arbitrary. M

[2019-03-13 17:34] divilian commented on #15
I think you mean "SPECstar," not SPECscape, right? (Since it's equally relevant to both.)

[2019-03-13 18:03] jeffg828 commented on #13
Does the model generate any visual output?

On Wed, Mar 13, 2019, 13:32 Stephen Davies <notifications@github.com> wrote:

[2019-03-13 19:47] venkatachalapathy commented on #15
Yes, SPEC*.

[2019-03-14 01:23] venkatachalapathy opened #21 "Some issues are importance to ALL our project in general"
So, @venkatachalapathy and @WheezePuppet have been tagging issues at our project fork and found it necessary to tag [some of them ](https://github.com/WheezePuppet/specnet/labels/SPECstar) `SPECstar`. These are issues that both all our projects, current and future, have to think about. @IngenuityArts  and @IngenuityArts, take a look at them. We could discuss them during our next conference all.

[2019-03-14 05:21] venkatachalapathy opened #10 "Community detection on induced networks"
This is closely related and inspired by #19. @WheezePuppet 's original model has a $o$ parameter induces dynamics and enables nodes to form connections with non-neighbors. Other models of Jackson and a recent paper of Ugander (@venkatachalapathy has chosen to withhold information on the topics to avoid distraction and confusion) develop game theory based models of network formation.

In what we ar

[2019-03-14 05:52] venkatachalapathy commented on #13
It would be nice to have an animation where one can see histogram's evolution over time. I know a few python and R packages that have this capacity.  For now, here is a link to [`matplotlib` histogram animation](https://matplotlib.org/2.1.2/gallery/animation/histogram.html). We could call Python via `PyCall` julia library.

[2019-03-14 13:15] divilian commented on #13
Currently, SPECnet generates a dynamic animation of the graph, like [this one](http://cs.umw.edu/~stephen/output.gif). (Recall: the relative wealth of an agent is proportional to its node size; lines between nodes represent social connections between agents; pairs of colored nodes indicate proto-institutions; black nodes represent "dead" agents that have fallen below zero wealth and therefore no l

[2019-03-14 13:18] divilian commented on #10
Yes, agreed! Cool!

[2019-03-14 13:19] jeffg828 commented on #13
I was asking because a visualization is an easy way to see if an
equilibrium has been reached.  An equilibrium isn't necessarily when
nothing is changing any more, but could be that the creation and
destruction of stuff has balanced out.  A graph makes it easy to see this.

On Thu, Mar 14, 2019, 09:15 Stephen Davies <notifications@github.com> wrote:

[2019-03-14 13:23] divilian commented on #13
Ah, I see. Yeah, good point -- now we need to figure out exactly what the graph would show. For instance, if it showed "the number of protos over time," then presumably the line would asymptote to some number, at which point we could do the Jeff thing and say "ah yes, it looks like at iteration 1027 or so there were no longer any changes to the number of protos." I guess we have to figure out what

[2019-03-14 13:46] IngenuityArts commented on #13
For the SriMil approach, the dynamic that was of interest was the inequality (Gini coefficient) dynamic evolving over time (whether increasing, decreasing, staying static, chaotic). Our hypothesis that the presence of proto-institutions would increase inequality preceded the choice of what to watch. We weren't looking for an equilibrium but by running a certain number of iterations - say 1000 or w

[2019-03-14 13:52] IngenuityArts commented on #13
One of the problems with Gini is the averaging effect, that we may be watching systemic stasis while there is interesting variation at lower scales. This was part of the interest in adding an ability to see individual agents and proto-institutions evolving over time. Systemic averaging is well known for the way it masks these sub-dynamics and is something a proto-anything needs to pay attention to

[2019-03-14 14:57] jeffg828 commented on #13
Can an agent enter into more than one proto institution?

On Thu, Mar 14, 2019, 09:52 Milton <notifications@github.com> wrote:

[2019-03-14 19:16] srikanthmudigonda commented on #13
The time period for which a simulation runs seems to be determined using a combination of heuristics drawn from theory and practical considerations.

Theoretical considerations include such things as "equilibrium" or oscillations among a set of states; practical considerations include such things as time taken to execute a certain number of time cycles and, where feasible, replications. In the mod

[2019-03-14 19:26] IngenuityArts commented on #17
In the actual human environment, yes, these things are powerful. In our highly artificial proto-environment, they are ideas to be tested beyond the core or SPECstar space.

[2019-03-14 21:46] divilian commented on #13
In [the current SPECnet model](https://cssas.pubpub.org/pub/1y9vib1p/draft), no. Once an agent joins a proto, it never joins another. (Eventually protos will be able to dissolve under certain conditions, after which its agents will be able to join another.)

[2019-03-14 22:52] venkatachalapathy commented on #13
@jeffg828 , @WheezePuppet @srikanthmudigonda and @IngenuityArts , I feel like an annoying stack exchange moderator but the current discussion is off-topic. It is better discussed on other issues like #16, #14 and #13 .

[2019-03-28 20:49] IngenuityArts commented on #23
I've been looking at the RCall package in Julia that let's you use R functions - not sure how that works.

[2019-03-28 20:49] IngenuityArts commented on #23
RCall is here: http://luiarthur.github.io/usingrcall

[2019-03-29 15:35] divilian commented on #23
I've heard about RCall, but never used it. My approach to doing analysis/plotting in R when your sim code is in something else (Python, Julia, etc.) has traditionally been to export experimental results to a .csv file and import that into R. I've personally found that super quick and painless, which I think is why I've never felt the need to investigate something like RCall.

(Of course, if the si

[2019-04-12 20:03] divilian opened #9 "Add "max number of protos per agent" parameter to simulation"
Add "max number of protos per agent" parameter to simulation, a la @venkatachalapathy's comments in 4/12's chat.

[2019-04-12 22:55] venkatachalapathy commented on #9
Building on @srikanthmudigonda suggestion, we should probably treat this as a factor that we can mess around during a computer simulation as it were a treatment factor in conventional experimental design.

[2019-04-14 02:29] venkatachalapathy opened #8 "Thinking about plots for the manuscript"
So, what are the plots that we might end of including in the manuscript? It depends on the scientific questions we are going to ask but thinking in terms of plots might help us ask more focused questions.

One 3D plot I had in mind was histogram of size distribution of proto-institutions versus network characteristics
+ lambda parameter for ER
+ alpha for SF
+ scaling parameter for SW

Another one

[2019-04-15 16:16] divilian commented on #8
I'm a big fan of "Gini coefficient over time" for a single run of the simulation, with many overlapping line plots on different runs with the same parameters to show general trends.

When you say "size distribution of proto-institutions," do you mean a histogram that shows how many protos have exactly 2 members, how many have 3, how many have 4, etc.? Yes, that could be cool.

In general, I shy aw

[2019-04-15 16:17] divilian commented on #9
Agreed.

[2019-04-15 16:52] wkneh commented on #8
Once you nail down what this will be, send me an email to let me know what
aspects I can build/code.
Look forward to it.

Will

On Mon, Apr 15, 2019 at 12:16 PM Stephen Davies <notifications@github.com>
wrote:

[2019-04-15 20:25] venkatachalapathy commented on #8
Yes, I was thinking more in terms of a heat map where the z-axes is dependent on (x,y) and colored.  And also some kind of histogram comparision test to find out if the any two interesting histograms are statistically different from one another.

[2019-04-17 16:48] divilian commented on #13
I have added a wealth histogram animation (which is also visible via caladan). It doesn't color code by proto-vs-non-proto agents yet, which is my next task. This animation is also not linked to the other in a frame-by-frame fashion as one might expect; that would be a cool feature. Maybe @will-nehrboss has another amazing idea for how to make that work.

Leaving this issue open for now, until I i

[2019-04-17 16:54] divilian commented on #8
So now that we have an animated wealth-distribution-over-time histogram, I'm realizing that doesn't exactly work for the manuscript. :) So I guess I should build a 2d one after all. Create new issue #28 for this.

[2019-04-17 16:55] divilian opened #7 "Create (static) 2d histogram of wealth distribution over time"
That animated one is cool and all, but for the manuscript we do need a static figure.

[2019-04-17 18:20] venkatachalapathy opened #6 "Reformulate the model as a discrete time dynamical system"
If we can do this, then we could potentially provide an answer to *what is the natural endpoint of this simulation* question.

[2019-04-17 18:22] venkatachalapathy commented on #13
This is related to end point of simulation question. I created a new issue regarding that #29

[2019-04-17 18:23] venkatachalapathy commented on #7
#29 is relevant for this one too.

[2019-04-17 18:33] Temititayo commented on #7
For the manuscript, a series of histograms can be used.

On Wed, Apr 17, 2019, 7:23 PM venkatachalapathy <notifications@github.com>
wrote:

[2019-04-22 14:52] divilian opened #5 "Add "max number of agents per proto" parameter to simulation"
Not to be confused with #26, note.

[2019-04-22 14:53] divilian commented on #9
Note, @TromboneDavies, that "max number of protos per agent" is entirely different than "max number of agents per proto," which needs its own issue (now #30).

[2019-04-22 14:57] divilian commented on #7
That's true, and perhaps that ends up being what we go with. I think it'll depend on whether a short series of histograms ends up being enough to "tell the tale." In the meantime, I think we probably do want to create the 2d heatmap for analysis purposes anyway. Assigning this one to you, @Temititayo.

[2019-04-22 15:51] divilian opened #4 "Get multi-user web-based app running"
Get multi-user web-based app running (on JupyterHub, or something similar). Spawned from #23.

[2019-04-22 15:54] divilian opened #3 "Add interactive widgets to web-based app for analysis"
I'm not 100% sure what this would look like yet, but creating this issue as a placeholder (spawned from #23). Ideally, non-coders could run the web-based simulation and do things beyond changing parameters and viewing static graphs and animations.

[2019-04-22 21:21] divilian opened #2 "Create page that lists platform-indep instructions for getting dev env up and running"
Create a page (specnet wiki page? PubPub doc? pinned thing on Slack?) that lists all the downloads and packages and dependencies a new (say) Windows user needs to do to get up and running with specnet. I believe this will include at least the following:
* Julia
* R
* Juno
* Something that can do `git` from the command line
* A list of Julia packages (currently all the ones listed in the `using` st

[2019-04-24 16:12] divilian opened #1 "Grok the SPECscape code"
Pore through Sri's dump of Julia code (over on https://github.com/IngenuityArts/specscape) and figure out which parts should be put in a common SPEC* Julia module.

[2019-05-01 16:08] divilian commented on #1
@srikanthmudigonda, when you get a chance check out [this PubPub document](https://cssas.pubpub.org/pub/7yuyus96/draft) and see if you agree with our proposal.

(Assuming you know UML syntax; if not: each box represents a class and has three compartments: name, inst vars, and methods. The diamond and crow's foot arrows represent aggregation (has-a); the open-triangle arrow represents inheritance (

[2019-05-01 20:04] wkneh commented on #1
Stephen,
The last two days I have been down and out sick, so I unfortunately haven't
had a chance to start 'grokking' the specscape code. Happily I am on the
upswing today (looking at full recovery tomorrow), so I can get rolling
soon. Just wanted to let you know, hopefully I'm not too far behind you.
 I really really hope I wasn't infected & contagious on Sunday, the last
thing I want is to take

[2019-05-01 20:06] wkneh commented on #1
@Stephen Davies (sdavies) <sdavies@umw.edu> Oops, thought this was direct
email. Sorry, wrong place.

On Wed, May 1, 2019 at 4:04 PM Will Nehrboss <wknehrboss@gmail.com> wrote:

[2019-05-10 18:53] divilian commented on #13
Assigning color-coding aspect to @will-nehrboss.

[2019-05-10 18:54] divilian commented on #18
Assigning the "allow initial graphs other than the simple ER model" portion of this task to @will-nehrboss.

[2019-05-10 18:58] divilian commented on #20
pinging this issue, since I'm unsure if it's still relevant. @venkatachalapathy?

[2019-05-10 18:59] divilian commented on #15
This may very well be already implemented in Sri's SPECscape stuff to the point where SPECnet doesn't need to do anything special once we integrate the two. Stay tuned.

[2019-05-10 19:01] divilian commented on #14
Very much related to #18. We'll say that this #14 is the code part, and #18 is the analysis part. Hence, @will-nehrboss is assigned to this.

[2019-05-10 19:46] IngenuityArts commented on #22
I tried to do that over on the other side - this now passes to Stephen as the specscape has not been absorbed into the specstar [ cue maniacal laugh ]. If that isn't the case, happy to re-invite.

[2019-05-10 20:47] divilian commented on #12
Note that LightGraphs may have a function that computes assortativity already. If so, great, this is an easy task (you can mostly imitate the Gini coefficient graph code). If not, you'll have to actually implement the calculation yourself.

Note: the LightGraphs community on Slack is AMAZING. Before giving up and deciding that there is no LightGraphs implementation of assortativity, get on the Jul

[2019-05-10 21:03] divilian commented on #11
This will involve:
* write some Julia code in a separate file that calls `specnet()` from sim.jl in a loop with most parameters fixed but one varying through a range
* having this code receive a DataFrame as a return value from `specnet()` (it doesn't do this now, but will shortly) and either concatenate/assemble these into a larger DataFrame or dump them as you go to a .csv file
* write some code

[2019-05-10 21:05] divilian commented on #1
We've sort of done this, and @WheezePuppet is going to commence on the big integration task, so marking this as complete for now.

[2019-05-10 21:05] #1 closed, assigned to divilian, will-nehrboss

[2019-05-12 00:39] #14 closed, assigned to will-nehrboss

[2019-05-12 01:24] divilian commented on #14
Nice job @will-nehrboss!

I checked in one small change to this -- you had "`SF_prob`" instead of "`SW_prob`" in sim.jl. (Also, I assume you wanted the function called "choose" instead of "chose.")

[2019-05-12 01:25] #22 closed, assigned to IngenuityArts

[2019-05-13 15:57] divilian commented on #19
Commits 584b7bf and b9c12c0 are the first step towards implementing this.

[2019-05-13 15:58] divilian commented on #19
@srikanthmudigonda: is the `fetch_neighbors()` function obsolete?

(Wait -- nm, I see that it's used in `form_possible_protos!()`.)

[2019-05-15 23:29] #13 closed, assigned to divilian, will-nehrboss

[2019-05-18 15:29] divilian opened #24 "Figure out random seed problems"
Inexplicably, the random seed is being set at the start of each SPECnet simulation, yet the initial generated wealth values vary between each run of the sim. (The random graph returned from `choose_graph()` seems to be stable, but the instantiation of the `NetAgent` objects when the `AN` Dict is created results in different `sugar_level`s.)

[2019-05-18 15:33] divilian opened #25 "Make pay day and metabolism scape<->net consistent"
Make pay day and metabolism scape<->net consistent.

[2019-05-20 14:29] divilian opened #26 "Make specnet use "metabolic_range"."
Specscape has a "metabolic_range" parameter to control how much sugar agents consume on an ongoing basis. Make specnet use this too.

[2019-05-20 14:31] divilian opened #27 "Make specnet use "init sugar level" stuff from specscape"
Specscape has an `InitSugLvl` parameter, which is then used to control how much sugar (wealth) each agent starts with. Make Specnet work in the same way.

[2019-05-20 14:36] divilian opened #28 "Add emigration/immigration to specnet"
In Specscape, there are `inbound_rate` and `outbound_rate` parameters. Make Specnet work similarly.

(Not obvious at first glance what the "correct" way to do this is. We should brainstorm.)

[2019-05-21 17:22] divilian commented on #2
@TromboneDavies, create your page by clicking [here](https://github.com/WheezePuppet/specstar/wiki), then clicking on the "Development environment setup" link (red), then adding your content.

[2019-05-21 17:24] divilian commented on #5
Hey @IngenuityArts, @venkatachalapathy, and others:
Currently, an agent can only be a member of a single proto-institution. How important is it that we extend this to multiple-protos-per-agent for CSSSA19? (Just trying to prioritize.)

[2019-05-21 17:30] IngenuityArts commented on #5
The important priority for me is as simple as possible so an agent being a member of multiple proto-institutions fits in the "next steps to take once we have the simple as possible figured out" category. It will be important to think structurally about how that complication can be added in the near future.

[2019-05-21 17:31] divilian commented on #17
Closing this since it no longer appears to be an action item.

[2019-05-21 17:31] #17 closed, assigned to venkatachalapathy, IngenuityArts

[2019-05-21 17:33] divilian commented on #18
Given the `param_sweep.jl` file that @will-nehrboss just added, I think we're mostly in a position to do this now.

[2019-05-21 17:34] divilian commented on #19
I'm calling this essentially done as of commit f4294eb.

[2019-05-21 17:35] divilian commented on #20
I think this issue _per se_ is obsolete.

[2019-05-21 17:35] #20 closed, assigned to nobody

[2019-05-21 17:35] divilian commented on #21
Closing this issue since we have indeed been using this tagging mechanism.

[2019-05-21 17:35] #21 closed, assigned to nobody

[2019-05-21 17:36] divilian commented on #23
We're using RCall, Gadfly, LightGraphs, and many others. I think this issue _per se_ is obsolete now.

[2019-05-21 17:36] #23 closed, assigned to srikanthmudigonda

[2019-05-21 17:39] divilian commented on #25
@will-nehrboss, feel like taking this one? SPECscape has two parameters: `MtblRate` and `InitSgrLvl`. At least the second of these does not correspond cleanly to anything in SPECnet. First step for this issue is figuring out conceptually how we make the two sides compatible: how fast do agents consume sugar? And how fast do they acquire it?

[2019-05-21 17:41] divilian commented on #5
Makes sense. Marking this as phase 2+.

[2019-05-21 17:42] divilian commented on #26
Duplicate of #25.

[2019-05-21 17:42] #26 closed, assigned to will-nehrboss

[2019-05-21 17:46] divilian commented on #11
@will-nehrboss added the general parameter sweep in 606732d. I'll now add λ functionality, recasting it in terms of the low-level ER parameters.

[2019-05-22 18:00] divilian commented on #15
No, there's still work to do here: `locate_move_feed!()` (in `ScapeAgents.jl`), for instance, does the
borrowing-from-a-proto stuff which we don't currently do at all in SPECnet.

[2019-05-22 19:59] #27 closed, assigned to TromboneDavies

[2019-05-22 20:42] WheezePuppet commented on #2
hurry up dawg

[2019-05-22 20:45] WheezePuppet commented on #2
hurry UUUUPPPP

[2019-05-26 04:35] #15 closed, assigned to divilian

[2019-05-27 20:30] divilian commented on #28
(Not for phase 1, as decided in May 23rd Zoom mtg.)

[2019-05-27 20:33] divilian commented on #11
(I lied; I'll let @will-nehrboss do that.)

[2019-05-27 20:38] divilian commented on #11
@will-nehrboss: search for "lambda" on this page: https://www.networkpages.nl/erdos-renyi-graph-part-ii/
Basically, I think we want to just switch from having `:N` and `:ER_prob` as parameters to having `:N` and `:λ` as parameters, with `ER_prob` then being determined from `:N` and `:λ`. Correct me if you disagree, @venkatachalapathy.

[2019-05-27 22:05] venkatachalapathy commented on #11
You are right @WheezePuppet ! Something similar can also be done for SW networks, @will-nehrboss . If you look at the definition of _small worldness_, you will find that it involves some optimal scaling of path length and clustering coefficient. Only for a particular range of parameters do we get this property satisfied.

[2019-05-27 22:23] wkneh commented on #11
@WheezePuppet In my enthusiasm for adding parameters to sweep I must have lost sight of the title of this issue:-). ER lambda will (hopefully) be simple, but if I run into any problems with the small world params I will give you a shout, @venkatachalapathy.
Just curios, why is lambda a better parameter then prob?

[2019-05-27 22:40] venkatachalapathy commented on #11
So the lambda parameter is the one that is relevant for an infinite graph. When the no of nodes of the graph are infinite, the binomial degree distribution (defined using N and p) of the graph tends towards a Poisson distribution (defined using lambda). So, it is basically limiting value of the binomial distribution that produces a phase transition.

[2019-05-28 18:04] divilian opened #29 "Create 2-d heatmap of wealth histogram over time"
We realized we needed this in issue #8 discussion, but it got lost.

To be clear, the action item is this:
* Currently, if `:make_anims` is `true`, the SPECnet code generates a histogram of agent wealths for each iteration, and then puts them together in an animated `.gif`, where each frame is one iteration of the simulation. (See `plot_iteration_graphs()` at end of `sim.jl`.)
* In addition to thi

[2019-05-29 15:15] divilian commented on #11
Will fixed this in 4066373.

[2019-05-29 15:15] #11 closed, assigned to will-nehrboss

[2019-05-29 15:20] divilian opened #30 "Adapt SPECscape's experimental design stuff to SPECnet"
(This issue prompted by @venkatachalapathy.)

As designed by @srikanthmudigonda, SPECscape uses a latin hypercube approach to run sets of parameters values that more or less cover the parameter space. Adapt this approach to SPECnet.

_Prerequisite_: get all on the same page via Zoom call.

[2019-05-31 20:21] divilian opened #31 "Make "rich enough" agents continue to contribute to proto"
Currently, the one and only time an agent deposits sugar into a proto is when it first joins. (The amount it deposits is the amount it has in excess of the join-a-sugar threshold.) Make this instead happen _every iteration_: an agent should always deposit all its excess sugar to its proto.

[2019-05-31 20:22] divilian commented on #31
(@srikanthmudigonda, you needn't bother fixing this in the specscape *repo* unless you really want to; @TromboneDavies will fix it in this specstar repo, in the `star` folder, so that it works automatically for both scape and net in this specstar repo.)

[2019-06-01 15:05] venkatachalapathy opened #32 "Incorpororating wealth dynamics as a stochastic dynamical system"
As discussed in the meeting (05/31),, one way to introduce environmental heterogeneity is through the use of stochasticity as follows

d(wealth) = income(dt) + white noise

This can be written as a stochastic differential equation. I suggest that we use

http://docs.juliadiffeq.org/stable/tutorials/sde_example.html

In example 1, set f and g to be constants. Vary the constants to vary the dynamics

[2019-06-01 23:58] venkatachalapathy commented on #19
@WheezePuppet and @srikanthmudigonda, given that we had some confusion about the mismatch of proto-rules during our zoom meeting, I thought this issue should remain open.

[2019-06-02 01:01] jeffg828 commented on #32
How many agents are being used in  simulation? I'm doubtful that even Julia
is fast enough to run a few hundred ode solves per model step time.

On Sat, Jun 1, 2019, 11:05 venkatachalapathy <notifications@github.com>
wrote:

[2019-06-02 01:04] divilian commented on #32
I may have a very different opinion about this, so let's duke it out.

I'm totally in favor of modeling environmental heterogeneity, and adding white noise to the income when modifying agent wealth is a perfectly fine idea to start with. Here's the thing, though: in an ABM like SPECscape/net, we don't (and shouldn't) actually be solving differential equations like in the package you cited. Instead

[2019-06-02 01:07] jeffg828 commented on #32
Can't see how it could be worth the computational cost in any case.

On Sat, Jun 1, 2019, 21:04 Stephen Davies <notifications@github.com> wrote:

[2019-06-02 01:35] venkatachalapathy commented on #32
The idea was to connect with literature in economics and to simplify the ABM based decision rules by going into continuous-state space formulations.  In the future, when we play around with different proto-rules, the interaction term that appears in the SDS formulation is more illuminative than the decision rules. The continuum limit dynamics might be necessary to understand the phenomena at the m

[2019-06-02 01:35] #32 closed, assigned to venkatachalapathy

[2019-06-02 15:49] venkatachalapathy opened #33 "Create Jupyter notebook as supplementary material for SPECNet and SPECScape papers"
This notebook will help reviewers explore the current model. Widgets should include the experimental design factors like
+ $lambda$ parameter
+ income
+ stochastic perturbation magnitude
+ others?

[2019-06-02 19:44] divilian commented on #19
I think this is essentially a duplicate of issue #31 (the only concrete example we know of) but we can keep this issue open as a placeholder too.

[2019-06-02 19:48] divilian opened #34 "Remove R `ineq` library dependency"
Duplicate, for the combined specstar repo, the change from [issue #11 of the specscape repo](https://github.com/WheezePuppet/specscape/pull/11).

[2019-06-02 20:01] divilian opened #35 "Refactor to kill_agent() function"
Create and call a `kill_agent()` function in scape, as in net, for consistency.

[2019-06-02 20:03] divilian opened #36 "Standardize "iter" / "timeperiod" and make global var"
Name scape's `timeperiod` and net's `iter` variables the same, give the same semantics, and make available globally with other params.

[2019-06-02 22:03] venkatachalapathy opened #37 "Statistical comparison of Gini coefficients"
Once we have Gini coefficients from different conditions, we may have to compare them statistically. The issue is to create such tests or compare histograms directly with standard methods.

[2019-06-03 01:34] TromboneDavies commented on #2
The page is at: https://github.com/WheezePuppet/specstar/wiki/Development-environment-setup

[2019-06-03 19:04] venkatachalapathy commented on #37
@srikanthmudigonda and @WheezePuppet , are there standard tests for this? And in what packages?

[2019-06-03 19:06] jeffg828 commented on #37
Hmm, ginis are ratios, does that mean two population proportion test?
Asking for a friend.

On Mon, Jun 3, 2019, 15:04 venkatachalapathy <notifications@github.com>
wrote:

[2019-06-04 01:10] venkatachalapathy commented on #37
https://cran.r-project.org/web/packages/dineq/index.html

https://cran.r-project.org/web/packages/dineq/index.html

both seem to do it (using the proportion test like what you (jeff) suggested) via confidence intervals but since we just removed `RCall` dependencies, we have either create tests from scratch or code it ourselves. But the `ineq` package we used don't seem to have this feature.

and a

[2019-06-04 05:59] venkatachalapathy commented on #28
There's plenty of emigration/immigration network models in the literature. When the time comes, I'll identify a few and we can work on it.

[2019-06-04 06:04] venkatachalapathy commented on #34
Just curious. `param_sweep.jl` uses `ineq`. And I am not sure if we have time to code statistical comparison tests (see #37 ). Is there a reason to do this?

[2019-06-04 19:42] divilian commented on #34
My personal motivation is to make the two sims work in the same way whenever possible. Scape used R's `ineq`, so we did too. Now Scape is changing to no longer use this library, so we should swtich too. (Not a high-urgency item, but we ought to do it.)

A secondard motivation is to reduce dependencies on R libraries for things that are perfectly possible in Julia. I'm okay with a trailer hitch on

[2019-06-04 19:45] divilian commented on #37
Surely we're not claiming that standard statistical tests like the ones you learn about in STAT 101 are not available here?? https://github.com/JuliaStats  (See, for instance, https://github.com/JuliaStats/HypothesisTests.jl)  If we actually need to call R from Julia in order to run a freaking t-test, I'll jump off the highest bridge in my field of view with no parachute.

[2019-06-04 21:35] divilian opened #38 "Protos actually not receiving deposits when they should"
In `Protos.jl`, even though a `Transaction` is being created when the agent makes its initial deposit upon joining, and even though this `Transaction` is being pushed to the ledger, the `balance` of the proto's account is actually not being updated.

[2019-06-04 21:36] #31 closed, assigned to TromboneDavies

[2019-06-04 21:36] #38 closed, assigned to divilian

[2019-06-04 21:36] divilian commented on #38
(@srikanthmudigonda if you're still maintaining the old specscape github project, you might double-check to see whether this is also an issue in yours.)

[2019-06-04 21:43] venkatachalapathy commented on #37
You don't have to jump of the bridge, Stephen.  t-tests will do for now. I was kind of expecting some _special_ test just for Gini comparisons. t-tests usually assume normally distributed data. I do not know enough about Gini to know if they are asymptotically normally distributed. But OK.... we can make do with what we have ;)

[2019-06-05 12:31] jeffg828 commented on #37
Hmm, I took a gander at that link... Not so sure about the t test straight
up.  Looks like the distribution for ginis has a funky srandard error.
Worst case, can you export what you need to a file and just run R on the
file?

On Tue, Jun 4, 2019, 17:43 venkatachalapathy <notifications@github.com>
wrote:

[2019-06-05 17:01] divilian commented on #37
Ah right, normally distributed data, which might well not be true for Ginis. Good point. So, I see that https://github.com/JuliaStats/HypothesisTests.jl also supports Wilcoxon and Mann-Whitney tests -- would these be more appropriate?

(Btw, my "jump off a bridge" comment was not related to t-tests being necessarily the correct thing, but rather the idea that we would have to call out to R for som

[2019-06-06 14:14] divilian commented on #2
(Reopening at @venkatachalapathy's and @will-nehrboss's request.)

[2019-06-06 16:45] divilian opened #39 "Output final Gini coefficient"
When `param_sweep.jl` is executed, include among the output written to files the Gini coefficient at the final iteration.

(I'm thinking this should be a separate `.csv` file, with one row per simulation run instead of one row per-agent-simulation-run.)

[2019-06-06 16:47] divilian opened #40 "Produce Gini plot with error bars"
When issue #39 is completed, have `param_sweep.jl` produce a plot of swept-variable vs. final Gini coefficient, with error bars. (See conversation on #37.)

[2019-06-06 16:49] divilian opened #41 "Articulate algorithm for detecting stopping condition"
Come up with a brilliant and principled way to detect that the simulation has reached equilibrium, or that it has been run "long enough" to sensibly stop. Articulate that plan to the coders so they can implement it.

[2019-06-06 16:51] divilian opened #42 "Produce single (non-animated) wealth histogram"
Add code to `sim.jl` to produce a single (non-animated) histogram of agent wealth at simulation's end. (Currently, at fixed number of iterations, but when issue #41 is done, incorporating that logic.)

[2019-06-06 16:52] divilian opened #43 "Output number/size of graph components"
When param_sweep.jl is executed, include among the output written to files the sizes (in # of agents) of each graph component.

(Probably in same file as produced by #39.)

[2019-06-06 16:56] divilian opened #44 "Determine rules for exogenous "starvation" shock"
Figure out and articulate exactly how the simulation should behave to investigate the "how robust are agents & protos to starvation events?" question.

[2019-06-06 16:56] divilian opened #45 "Implement starvation shock"
When #44 is completed, write the code to do this.

[2019-06-06 16:57] divilian opened #46 "Output proto-related statistics"
We need to figure out exactly what this looks like. Candidates for inclusion:

* The number of protos (a time series?)
* The number of agents in each proto (histogram)
* The account balance of each proto (histogram)
* How many protos "survive" based on starvation of a certain duration (see #45)

[2019-06-06 16:59] divilian opened #47 "Analyze ER results"
Run and analyze a parameter sweep of the Erdos-Renyi λ parameter. (@WheezePuppet and @will-nehrboss believe all the code is in place to do this as of today, but let us know if not.)

[2019-06-06 16:59] divilian opened #48 "Analyze SW results"
Run and analyze a parameter sweep of the Small World β parameter. (@WheezePuppet and @will-nehrboss believe all the code is in place to do this as of today, but let us know if not.)

[2019-06-06 17:02] divilian opened #49 "Identify meaningful set of wealth/income parameters"
Identify the minimal interesting set of wealth/income parameters (probably comprised of some subset of `:init_sg_lvl`, `:metabolic_rate`, `:salary_range`, and `:proto_threshold`, all defined in `setup_params.jl`.)

(Note to @venkatachalapathy: the thing we currently call `:salary_range` will probably change to two things: (1) the fixed salary per iteration per agent, and (2) the std dev of the whi

[2019-06-06 19:25] venkatachalapathy commented on #40
Page 225 of the manual has Gini calculation with confidence intervals

https://cran.r-project.org/web/packages/DescTools/DescTools.pdf

[2019-06-06 19:27] venkatachalapathy commented on #37
#40 contains links to `R` library `DescTools`

This should do the job for now.

[2019-06-06 19:30] venkatachalapathy commented on #43
http://juliagraphs.github.io/LightGraphs.jl/latest/pathing.html#LightGraphs.connected_components

has answers. Pinged Will about this on slack.

[2019-06-06 19:52] divilian opened #50 "Compute Gini coefficient wrt proto institutions"
Possibly interesting question: generally speaking, after steady-state, do rich agents end up being in protos together with other rich agents, and poor with poor?

It seems like it would be interesting to compute and analyze the following metrics:
1. Compare the protos to each other:
    a. Treat each proto as its account balance, and compute the Gini coefficient.
    b. Treat each proto as the ave

[2019-06-06 20:10] divilian commented on #24
I've played with this for a while and cannot reproduce it. I might have been hallucinating before. I claim it works as designed.

[2019-06-06 20:14] divilian opened #51 "Increment random seed"
Increment the random seed for each simulation run, drr. (Otherwise all runs with the same parameter values will produce identical results.)

Suggestion: use the `params[:random_seed]` setting as the seed for the _first_ complete simulation run in a sweep. Then, for each successive run, increment it by 1.

Suggestion 2: in the output file (mentioned in issue #39), record the value of the seed used

[2019-06-07 15:03] divilian opened #52 "Make salary and metabolic rate constant"
At least for the near term, give all agents the same salary and metabolic consumption in every iteration.

[2019-06-07 15:04] divilian opened #53 "Add "complete graph" as an option"
In addition to `"erdos_renyi"`, `"scale_free"`, and `"small_world"`, add `"complete"` as a legal value for the `:whichGraph` parameter.

[2019-06-07 15:30] divilian commented on #53
Also add `"empty"` as option for a graph with no edges.

[2019-06-07 15:30] #53 closed, assigned to divilian

[2019-06-07 15:31] divilian commented on #53
(@venkatachalapathy: both `"complete"` and `"empty"` are now legal options for the `:whichGraph` parameter -- see line 22 of `setup_params.jl`.)

[2019-06-07 15:45] #52 closed, assigned to divilian

[2019-06-07 15:46] divilian commented on #52
(@venkatachalapathy: the `:salary` parameter replaces `:salary_range`.)

[2019-06-07 15:48] divilian opened #54 "Add white noise to salary/metabolism"
Add `:white_noise_intensity` parameter for random exogenous shock for each agent, each iteration.

[2019-06-07 15:59] #54 closed, assigned to divilian

[2019-06-07 20:58] #51 closed, assigned to will-nehrboss

[2019-06-07 20:58] #39 closed, assigned to will-nehrboss

[2019-06-08 01:50] venkatachalapathy opened #55 "Align high level simulation study spec with actual scripts available"
https://csssaspecsig.slack.com/archives/CGVA2NL8K/p1559930250026200

@will-nehrboss pointed out that the way I framed the simulation study spec needs to be clarified a bit and reframed to respect the way the code works at the moment.

@WheezePuppet , we can discuss this over at the #analysis channel.

[2019-06-09 04:23] venkatachalapathy commented on #49
I think we sorted this out. I am closing this one. See pinned message inside #analysis channel.

[2019-06-09 04:23] #49 closed, assigned to venkatachalapathy

[2019-06-09 04:57] venkatachalapathy commented on #41
__Claim:__ The system does not reach equilibrium

__Proposed Stopping Rule:__ If the proto with the least wealth can survive a non-trivial starvation shock, the system has sufficiently evolved.

_Non-trivial starvation shock_ is switching off all income for time order of Variance(wealth)/sqrt(D) where D is the effective white noise intensity for all the agents combined.

__Note:__ I'll make this p

[2019-06-09 04:57] #41 closed, assigned to venkatachalapathy

[2019-06-10 16:11] divilian commented on #42
@will-nehrboss: hang tight on this until @venkatachalapathy can communicate to us in a doc exactly what the stopping condition is.

[2019-06-10 18:17] venkatachalapathy commented on #42
@WheezePuppet and @will-nehrboss , the first approximation to the full blown stopping condition is easy to implement.
+ Calculate the pooled wealth among proto-s in a simulation
+ The first time, the proto with the least wealth is able to survive a one-step starvation is the stopping condition

[2019-06-10 21:39] wkneh commented on #42
@WheezePuppet @venkatachalapathy Okay...
I think this issue is pretty close to the back of the queue as it depends on the completion of other issues? Once we establish the rules for the starvation shock then we (or just @TromboneDavies  depending on his availability) can get started on implementation of that issue, and only then we can actually code the stopping condition + the end wealth histogra

[2019-06-10 21:57] venkatachalapathy commented on #42
I think so. Based on my understanding of the code, the proto-s' wealth is never really calculated and accounted for. So, it might take some effort.

[2019-06-12 13:29] divilian commented on #43
Hey @venkatachalapathy, we need to figure out what is the best way to represent the component sizes in the simulation output. The way we're doing it now isn't the right way, but it's unclear to me exactly what the right way is.

The issue is that each simulation run produces a variable-size array of component sizes; _e.g._:

    [ 17, 5, 3, 3, 2, 1, 1 ]

which, in this example, means that in addit

[2019-06-12 13:36] divilian opened #56 "Change Int64's to Int's for backwards compatibility"
Ancient systems like @venkatachalapathy's prehistoric Linux laptop can't support 64-bit integers. If we change every instance of `Int64` to `Int`, Julia will automatically create a 64-bit, or 32-bit, integer for us, depending on the underlying system.

[2019-06-12 13:51] divilian commented on #44
Question, @venkatachalapathy: how exactly do we want the simulation to implement the "starvation shock?"

One idea is: add two new simulation parameters, `:start_starv_iter` and `:end_starv_iter`. If (say) the former is 50 and the latter is 60, then during iterations 50 through 60, inclusive, no agent will receive their salary. They will still have their metabolic rate subtracted, as usual, and wi

[2019-06-12 14:47] venkatachalapathy commented on #44
My idea is to first code up the stopping rule; then implement _a starvation rule_ like the one you suggested.  The stopping rule is a separate issue #41 that I closed because we have a constructive definition for it. So, in #45, we have to algorithmize both the _stopping conditions_ and _starvation rules_.

Both are doable but is this what we want to be spend our time on between now and our end of

[2019-06-12 15:06] divilian commented on #44
Ah, that makes sense.

And yes I do think we want to prioritize this for phase 1, in part because I don't actually think it will take that long to code, once we figure out exactly what to code.

[2019-06-12 15:59] divilian commented on #24
Aha. I can now reproduce this bug as of commit 48207. Simply run `specnet()` twice in a row, which ostensibly uses the same random seed (default 1234 in `setup_params.jl`) but gives different results.

[2019-06-13 14:53] venkatachalapathy opened #57 "Analyzing proto-s cluster distribution"
Comparing clusters seem to be equivalent to comparing multinomial distributions. Comparing clusters with unknown number of components seem to involve nonparametric versions of multinomial distribution comparison problem.

[2019-06-13 17:02] divilian commented on #57
(Oh, right, duh! Multinomial distros are of course the right thing as soon as you think about it.)

[2019-06-13 17:26] divilian commented on #29
We didn't actually mention this in yesterday's Zoom call as one of the things we wanted for phase 1. To be clear, this is a heatmap of a single sim that shows time on its y-axis, rather than a heatmap of an entire param sweep that shows the swept parameter on its y-axis. I'm putting this in phase 2 for now. Squawk if you disagree, @venkatachalapathy or @will-nehrboss.

[2019-06-13 17:37] divilian opened #58 "Create agent wealth heatmap of parameter sweep"
As discussed in 6/12 Zoom call, have `param_sweep.jl` create a heatmap which shows:
* Agent wealth (binned) on x-axis
* Swept parameter (e.g., ER λ) on y-axis
* Number of agents with wealth in that bin on "z-axis" (color).

[2019-06-13 17:38] divilian commented on #7
Duplicate of #29.

[2019-06-13 17:38] #7 closed, assigned to Temititayo

[2019-06-13 18:11] divilian commented on #44
As of yesterday's Zoom call, we have decided on the following for phase 1.

Every simulation can be divided into three stages:
S1. The iterations before any agents create a proto.
S2. The iterations during which agents create and join protos.
S3. The iterations after which all agents are either (a) graph isolates, (b) dead, or (c) in a proto.

The "stopping condition" is when S2 transitions to S3.

[2019-06-13 18:56] #44 closed, assigned to venkatachalapathy

[2019-06-13 19:27] #24 closed, assigned to divilian

[2019-06-13 19:28] divilian commented on #24
Finally fixed: needed to override `hash()` (and `isequal()`) for custom types, so that their hash value in dictionaries is deterministic rather than determined by memory location (which isn't constant regardless of random number generator seed).

[2019-06-13 23:24] #45 closed, assigned to divilian

[2019-06-14 04:16] wkneh commented on #43
Fixed by mistaken comment referencing issue #41.

[2019-06-14 04:16] #43 closed, assigned to will-nehrboss

[2019-06-14 05:39] #56 closed, assigned to will-nehrboss

[2019-06-14 14:46] divilian commented on #58
With the new code, I'm getting `ERROR: LoadError: ArgumentError: New columns must have the same length as old columns`

When my machine reaches line 134 of `param_sweep.jl`, here are the sizes of the three dataframes in question:
* `comp_df`: 43 lines
* `matching_comp_df`: 42 lines
* `trial_line_df`: 200 lines

These are the settings I'm using:

[code]

[2019-06-14 21:56] venkatachalapathy commented on #57
This package uses some fancy metric called Wasserstein metric for comparing two distributions

https://cran.r-project.org/web/packages/twosamples/index.html

This is the first one I could find but there could be others

[2019-06-15 07:32] venkatachalapathy commented on #40
As discussed, we need confidence intervals for Gini. This functionality does not exist in `ineq`, the currently used package for Gini calculations. We need to replace that with `DescTools` Gini function. Both `sim,jl` and `param_sweep.jl` currently use `ineq` not `DescTools`.

[2019-06-15 07:49] venkatachalapathy commented on #46
No that #45 is done, maybe it is time to look at this one.

The account balance in a proto is a function of lot other dimensionful parameters of the system. To be at least, it makes more sense to look at starvation shocks and robustness of proto-s to starvation shocks than an absolute account balance.
+  Time to S1 -> S2
+  Time to S2 -> S3

are good numbers to plot .

In the time interval [S1,S2]

[2019-06-15 08:14] venkatachalapathy opened #59 "Make SPECNet more like SPECScape by...."
[TJ and Stephen](https://cssas.pubpub.org/pub/6nonmc56)'s idea was discussed in the joint zoom today. Along with Will's idea to randomly partition of income at every time step, these are one of the several next directions we can take.

Another idea was discussed in a private exchange between @venkatachalapathy  and @WheezePuppet . However, that idea is going to greatly bloat the scope of SPECNet.

[2019-06-15 08:34] venkatachalapathy opened #60 "Mathematical formulation of proto dynamics"
One could go beyond current proto dynamics by
+ allowing proto to coalesce or fragment
+ allowing agents to join more than one proto

In the first case, ideas from random coagulation and fragmentation processes are expected to be used. In the second case, ideas from combinatorial set theory (Markov processes on subsets of sets) are expected to be used.

These are extremely speculative ideas that a

[2019-06-15 14:58] divilian commented on #42
Reopening this since I think in addition to a histogram of agent wealth, we also want to produce a histogram of proto wealth.

[2019-06-15 15:00] divilian commented on #40
Is it true, then, statistically speaking, that in order to get valid confidence intervals for a Gini coefficient one needs to use Gini-specific techniques? (Silly me, I figured getting a confidence band for Gini would be much like getting a confidence band for any other quantity. But maybe it's the strange nature of how Ginis are disributed that makes non-Gini-specific techniques illegitimate?)

[2019-06-15 15:09] divilian commented on #46
Got it. So, in terms of the five quantities you mention:
1. Number of iterations before S2 begins
2. Number of iterations before S3 begins
3. Growth in number of protos in interval [S1,S2]
4. Histogram of proto sizes in interval [S1,S2]
5. Number of protos that survive a starvation shock

I feel like only 5 is actually related to "robustness of protos to starvation shocks." That's not to say the f

[2019-06-15 15:10] venkatachalapathy commented on #40
You are right! getting a confidence band for Gini is same as getting a confidence band for any other quantity; just the technique is bootstrapping. Some of the statisticians that I respect use bootstrapping method as a very general purpose as a way to move away from Gaussianity assumptions of the error terms. The more I read about it. the more I agree with that point of view.

Most of old statisti

[2019-06-15 15:16] venkatachalapathy commented on #46
You are right that only 5 is related to robustness measure.

Your further comment regarding 5 is correct and important. In out-of-equilibrium systems (where they use such Markov process models), persistence exponent, the tail survival time is a quantity used to describe such global decay dynamics. If not now, calculating the tail decay exponent from our simulation must be on our to-do for the jour

[2019-06-15 16:10] divilian commented on #40
Okay, so back to your original point then: why do we need to use `DescTools` instead of `ineq`? Can't we just use ordinary bootstrapping to get the confidence intervals, a la a package like https://github.com/juliangehring/Bootstrap.jl ?

[2019-06-15 16:18] jeffg828 commented on #40
I think the standard errors are different for gini coefficients.

On Sat, Jun 15, 2019, 12:10 Stephen Davies <notifications@github.com> wrote:

[2019-06-15 17:33] venkatachalapathy commented on #40
If you look at p.225 of `DescTools` manual,  their Gini calculation has bootstrap option built into it.  Easier?

[2019-06-17 14:35] divilian commented on #40
Helpful note from @venkatachalapathy:

[2019-06-17 16:21] divilian opened #61 "Make single-sim Gini plots prettier"
Currently the error bars for the Gini plots look ugly:
![GiniPlot](https://user-images.githubusercontent.com/4355665/59620214-4ed02b80-90fa-11e9-9e8f-4715e03a0433.png)

@venkatachalapathy suggests "What if we smooth the `upr.ci` and `lwr.ci` into curves and shade the region between them (confidence band)."

[2019-06-17 16:23] divilian commented on #40
Added this to single-sim plot in `3adba47`. Still need to add it to param sweep plot, although it's not totally clear to me how to do the statistics correctly.

[2019-06-19 16:04] divilian commented on #40
Fixed in dcf3f45. Used Julia `Bootstrap` package to compute CIs for Gini param sweep.

[2019-06-19 16:04] #40 closed, assigned to divilian

[2019-06-19 16:05] divilian commented on #61
Ditto param sweep Gini plot.

[2019-06-19 17:41] #61 closed, assigned to divilian

[2019-06-19 21:38] wkneh commented on #42
Fixed. (Hopefully)

[2019-06-19 21:38] #42 closed, assigned to will-nehrboss

[2019-06-20 04:40] venkatachalapathy commented on #12
@WheezePuppet , I tried to add the `phase 2+` label and unlabel `phase 1` but could not figure out how to do it. Could you remove the `phase 1` label from this issue?

[2019-06-20 04:42] venkatachalapathy commented on #8
Since we have several issues open on this matter, this one feels like a redundant issue at this point.

[2019-06-20 04:42] #8 closed, assigned to venkatachalapathy

[2019-06-20 04:44] venkatachalapathy commented on #30
@WheezePuppet could you remove `phase 1` label?

[2019-06-20 04:47] venkatachalapathy commented on #18
We are using a confidence interval based approach for CSSA19. The bootstrapped two-sample test, if it is necessary at all, is now a `phase 2+` issue. @WheezePuppet could you remove the `phase 1` label?

[2019-06-20 04:50] venkatachalapathy commented on #33
This one is now `phase 2+`. @WheezePuppet we should remove the `phase 1` label.

[2019-06-20 16:49] divilian commented on #55
Is this issue now obsolete, @venkatachalapathy?

[2019-06-20 20:05] divilian opened #62 "Create size-of-largest-component and num-components param sweep plots"
Create a plot whose x-axis is the parameter swept value (e.g., ER λ) and which has two lines-with-error-bars: one for the size-of-largest-component and one for the number-of-components.

This plot should then be "stacked" (using Gadfly's `vstack()`, I think) vertically above the Gini coefficient param sweep plot, such that the x-axes exactly match each other. (In this way, the viewer can easily re

[2019-06-20 21:41] venkatachalapathy commented on #55
Yes, I think so. At least it needs to be moved to `phase 2+`  This should be coupled with the experimental design project #30. We should merge the two issues together at some point.

[2019-06-21 06:57] #62 closed, assigned to will-nehrboss

[2019-06-21 14:54] divilian commented on #46
Some of this was addressed in #62. The remainder I am currently working on.

[2019-06-21 15:52] venkatachalapathy commented on #37
I'm closing this as we have enough of this figured out to complete `phase 1` and pushed pushed the two-sample version to `phase 2+`.

[2019-06-21 15:52] #37 closed, assigned to venkatachalapathy

[2019-06-21 15:57] venkatachalapathy opened #63 "Increase the no of agents in a network during parameter sweep to get sharper transitions"
Building on #62, we can increase the no of nodes/agents in the network to look for sharper transitions in both no of components and in Gini as we cross the $\lambda=1$ threshold. Also, as discussed in a mini-zoom couple of days back, the parameter sweep should go beyond $\lambda=6$ just to make sure we see the trend.

[2019-06-21 16:02] divilian opened #64 "Create number-of-protos and num-agents-in-proto param sweep plot"
Create a plot whose x-axis is the parameter swept value (e.g., ER λ) and which has two lines-with-error-bars: one for the number-of-distinct-protos and one for the number-of-agents-in-a-proto. Then further stack as in #62. (Make sure to imitate the `xlabel`/`ylabel`/`xticks` stuff from 820a59d so that the x axes of all three plots are aligned.)

[2019-06-21 18:09] divilian commented on #63
I'm going to claim that 0 ≤ λ ≤ 4 is plenty enough range, based on the plots we're seeing.

[2019-06-21 20:36] divilian commented on #46
The first two of the five items above (number-of-iterations-until-stages-2-and-3) has been added in e38b684.

[2019-06-22 01:07] venkatachalapathy commented on #63
Let us focus only on increasing the number of vertices.

Actually, I changed my mind. I want to make sure that the Gini is actually plateauing out.
![erdos_renyiTallPlot](https://user-images.githubusercontent.com/3957017/59960138-6996fd00-9478-11e9-8e72-6980a924c03b.png)

[2019-06-22 05:23] #64 closed, assigned to will-nehrboss

[2019-06-22 05:52] venkatachalapathy commented on #25
I think we figure this out since the issue was last referenced. The current model has both `MtblRate` and `InitSgrLvl` built into it.  This issue no longer needs to be open.

[2019-06-22 05:52] #25 closed, assigned to will-nehrboss

[2019-06-22 19:35] divilian commented on #63
By plotting a larger (higher) range of λ values? Or are you saying more trials per value to narrow error bars, or...?

[2019-06-22 19:39] venkatachalapathy commented on #63
Oh. higher range of $\lambda$ values. (see my #analysis channel comments from yesterday night for more details).  Also, this is going to help us connect with all-to-all networks.

[2019-06-24 14:38] divilian opened #65 "Kill protos when their balance reaches zero"
Vis-a-vis 6/23 Zoom call, when a proto's balance reaches zero, do the following:
1. Remove it completely from all data structures that reference it, making it as though it never existed.
2. Set the `agent_id` of all living agents that were members of it (if any) to -1, just as it was before they joined the proto.

[2019-06-24 20:37] #65 closed, assigned to will-nehrboss

[2019-06-25 20:41] divilian opened #66 "Eliminate placeholder Proto object"
Line 96 of `sim.jl` instantiates a bogus `Proto` object when it initializes `arr_protos`, for some obscure reason. Find out why and whether we can get rid of this, since it wreaks havoc in the code trying to code around the object's existence everywhere.

[2019-06-26 14:47] #58 closed, assigned to will-nehrboss

[2019-06-26 18:08] divilian opened #67 "Fix weird λ≈0 plot artifacts"
When running `param_sweep.jl` with (say) these parameters:
[code]
some of the plots, including `num_living_agents_pre_num_protos_post_num_protos_pre_num_living_agents_post.png`, look weird on the left-hand side:
![num_living_agents_pre_num_protos_post_num_protos_pre_num_living_agents_post](https://user-images.githubusercontent.com/4355665/60203925-bfbec400-981b-11e9-8a3e-f1095beb1aca.png)

Assumin

[2019-06-26 18:11] divilian commented on #46
Eleven days ago, I wrote this list:

We are now plotting 1, 2, and 5. I'm having trouble visualizing how to visualize 3 and 4, especially in a parameter sweep setting. Both of them refer to "intervals," during which dynamic activity happens during every simulation run. How then to combine these in a meaningful infographic, @venkatachalapathy? (Or should we just skip for now?)

[2019-06-26 18:43] divilian opened #68 "Verify boundary cases"
Verify that λ=0 gives the same results as an empty graph, and that λ=1 the same as a complete graph.

[2019-06-26 18:43] divilian commented on #67
(@venkatachalapathy also requests that we also check that λ=0 is the same as none-to-none network dynamics. See new issue #68.)

[2019-06-26 18:47] divilian commented on #46
@venkatachalapathy says:

I like your idea for 3) (overlaying a number-of-protos-vs-time line plot for each trial run of a particular parameter value) but that only lets us visualize the results of one λ (or whatever parameter) value at a time, right?

I agree with your second point: probably overkill, at least for phase 1.

[2019-06-26 18:47] divilian commented on #46
Closing this for now, since I think we're now plotting everything we're going to want to plot for phase 1. Time to focus on analysis of our existing plot space.

[2019-06-26 18:47] #46 closed, assigned to divilian

[2019-06-27 19:39] divilian commented on #67
Will fixed this in a17bda0.

[2019-06-27 19:39] #67 closed, assigned to will-nehrboss

[2019-06-27 21:05] venkatachalapathy commented on #68
I think the plots look OK. We can close this.

[2019-06-27 21:05] #68 closed, assigned to divilian

[2019-06-28 14:14] divilian opened #69 "Verify results stable with varying N"
@venkatachalapathy writes:

Produce such a plot.

[2019-06-28 16:33] wkneh opened #70 "Unify social connectivity and trial line Dataframes"
Refactor to eliminate social connectivity dataframe entirely.

[2019-07-03 17:58] #69 closed, assigned to will-nehrboss

[2019-07-03 17:58] #66 closed, assigned to will-nehrboss

[2019-07-03 18:57] divilian opened #71 "Verify pass-by-value behavior in kill_sugarless_protos()"
Confirm/deny the weirdness Will spent hours on with how `arr_protos` is passed/returned from `kill_sugarless_protos()`.

[2019-07-03 19:14] divilian opened #72 "Do Rajesh's amazing random number duplication thing"
Make all random number draws the same between proto and non-proto version.

[2019-07-05 15:39] venkatachalapathy commented on #72
It took me a while to think about this approach. This is very decision theoretic: construct all possible alternatives in a tree over time or actions; calculate utility and regret. I did not realize I was doing it but there you have it.

[2019-07-09 15:27] divilian opened #73 "plot_final_wealth_hist() sometimes breaks"
The `plot_final_wealth_hist()` function sometimes breaks, because when it's "final"-ly plotted, most or all agents are dead. So it has (say) only zero or one wealth to plot a histogram for.

You can reproduce with:

[code]

Consider: in the state of the project as of today, when is the appropriate place to generate this histogram?

[2019-07-09 17:42] divilian opened #74 "Recolor high navy lines"
I checked, and no this isn't a devious bug in the code we need to worry about -- it's just a nuisance that makes the plot look wrong.

The issue is the navy lines that have a high agent wealth after stage 3 begins:
![agentProtoHistory](https://user-images.githubusercontent.com/4355665/60909891-5b552900-a24d-11e9-9234-277f4d2a680f.png)

At first blush, you say "whoa, shouldn't all non-isolates be i

[2019-07-09 19:18] divilian opened #75 "Change Gini computation to *effective* wealth"
For our lovely parameter sweep plots, it would be nice if we plotted the Gini coefficient with respect to *effective wealth* (_i.e._, agent wealth plus their share of their proto's balance, if any) instead of simply agent wealth. (When we do the latter, the results are dominated by simply how many isolates there are, since all their wealth "counts".)

[2019-07-10 02:39] wkneh opened #76 "Iteration Persistent Differential Sugar Demand"
To better understand the effects of proto membership on the success of agents, stagger the finite starvation shocks of agents.

Why?
    In reality, wealth pooling institutions rely on differential demand of its wealth reserves by its members. Those experiencing success will contribute to the wealth pool, increasing the availability of wealth. Those going through hard times will benefit from this

[2019-07-10 14:23] divilian commented on #74
@will-nehrboss, heads up i'm taking this one due to time constraints.

[2019-07-10 14:44] #74 closed, assigned to divilian

[2019-07-10 15:25] venkatachalapathy commented on #76
Yes. I want to play around with variants of starvation experiments. Test conditions must associated with some specific questions that we want answered about the system. Yes, exploratory questions are the first step; but eventually, we have to focus around a specific question that we want the experimental intervention to answer.

[2019-09-07 21:58] divilian commented on #76
I really like this idea, and I also like how you framed it, Will.